<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>About Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="assets/bootcamp_logo_wo_bg.png" alt="">
            <p>Bootcamp</p>
        </div>
        <ul class="menu">
            <li><a href="/home">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">BATCH</a>
                <div class="dropdown-content">
                    <a href="/batch">2026</a>
                    <a href="#">2027</a>
                    <a href="#">2028</a>
                </div>
            </li>
            <li><a href="/society">SOCIETY</a></li>
            <li><a href="/form">PROFILE</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <section class="about" id="about">
        <div class="about-us">
            <h1>ABOUT US</h1>
            <div id="container">
                <span id="text1"></span>
                <span id="text2"></span>
            </div>
            
            <svg id="filters">
                <defs>
                    <filter id="threshold">
                        <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                              0 1 0 0 0
                              0 0 1 0 0
                              0 0 0 255 -140" />
                    </filter>
                </defs>
            </svg>
            <p>A platform dedicated to introducing you to the talented computer engineering students who are shaping the future of technology. Our website is designed to showcase their skills, projects, and the passion they bring to their field.</p>
            <p>Our mission is to provide a simple, user-friendly experience that highlights the incredible talents of our computer engineering students. We believe in the power of community and the importance of recognizing the hard work and love that goes into every project.</p>
        </div>
        <div class="team">
            <h2>Our Team</h2>
            <div class="our-team">
                <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/PRIYARANJAN.png" >
                <h3>PRIYARANJAN KUMAR</h3>
                <h4>Frontend Developer</h4>
                <div class="icon">
                   <a href="https://github.com/priyaranjan2902"> <i class="fa fa-github" ></i></a>
                   <a href="https://in.linkedin.com/in/priyaranjan2902"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/priyaranjan2902/"> <i class="fa fa-instagram" ></i></a>
                   <a href="rajprience2902@gmail.com"> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/HARAPRIYA.png" >
                <h3>HARAPRIYA SWAIN</h3>
                <h4>Frontend Developer</h4>
                <div class="icon">
                   <a href=""> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/harapriya-swain-75632a256/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/harapriya_17/"> <i class="fa fa-instagram" ></i></a>
                   <a href=""> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/SHUBHAM.png" >
                <h3>SUBHAM KUANAR</h3>
                <h4>Frontend Developer</h4>
                <div class="icon">
                   <a href=""> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/kuanarshubham/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/shubhamkuanar/"> <i class="fa fa-instagram" ></i></a>
                   <a href=""> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/SAUMYAJEET.png" >
                <h3>SAUMYAJEET VARMA</h3>
                <h4>Frontend Developer</h4>
                <div class="icon">
                   <a href="https://github.com/Saumyajeet-Varma"> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/saumyajeet-varma-91bb4025a/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/_saumyajeet_/"> <i class="fa fa-instagram" ></i></a>
                   <a href=""> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/SWEDESHNA.png" >
                <h3>SWEDESHNA MISHRA</h3>
                <h4>Frontend Developer</h4>
                <div class="icon">
                   <a href="https://github.com/SwedeshnaMishra"> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/swedeshna-mishra-8a9567251/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/__.swedeshna.__/"> <i class="fa fa-instagram" ></i></a>
                   <a href="swedeshnamishra364@gmail.com"> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/BISWAJIT.png" >
                <h3>BISWAJIT BHOI</h3>
                <h4>UI/UX Designer</h4>
                <div class="icon">
                   <a href=""> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/biswajit-bhoi-2537b5257/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/biswajit.bhoi.125/"> <i class="fa fa-instagram" ></i></a>
                   <a href=""> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/JANMANJEY.png" >
                <h3>JANMENJAY PANIGRAHI</h3>
                <h4>Backend Developer</h4>
                <div class="icon">
                   <a href="https://github.com/Janmenjay30"> <i class="fa fa-github" ></i></a>
                   <a href="https://www.linkedin.com/in/janmenjay-panigrahi-6806ab28a/"> <i class="fa fa-linkedin" ></i></a>
                   <a href="https://www.instagram.com/___janmejay__/"> <i class="fa fa-instagram" ></i></a>
                   <a href=""> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            <div class="card">
                <img class="bg" src="Photos/bg.png" >
                <img class="one" src="Photos/PRIYANSHU.png" >
                <h3>PRIYANSHU KUMAR ANAND</h3>
                <h4>Backend Developer</h4>
                <div class="icon">
                   <a href="https://github.com/Priyanshukumaranand"> <i class="fa fa-github" ></i></a>
                   <a href="http://www.linkedin.com/in/priyanshu-kumar-anand-52b29825a"> <i class="fa fa-linkedin" ></i></a>
                   <a href=""> <i class="fa fa-instagram"></i></a>
                   <a href="priyanshukumaranandofficial@gmail.com"> <i class="fa fa-envelope" ></i></a>
                </div>
            </div>
            </div>
        </div>
    </section> 
    
    <footer>
        <p>Made with <i class="fa-solid fa-heart"></i> by CE'26</p>
    </footer>
    <script src="about.js"></script>
</body>
</html>