<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../public/css/forgetPassword.css">
</head>
<body>
    <div id="forgotPasswordModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Forgot Password</h2>
    <form id="forgotPasswordForm">
      <div class="form-group">
        <label for="forgotPasswordEmail">Email</label>
        <input type="email" id="forgotPasswordEmail" name="email" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</div>
<script src="/forgetPassword.js"></script>
</body>
</html> 