<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIIT Bhubaneswar Societies</title>
    <link rel="stylesheet" type="text/css" href="css/society.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="shortcut icon" href="uploads\favicon.png" type="image/x-icon">

    <!--Connect font ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

     <!-- Link to connect JQuery -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
    <div class="background-container">
        <div class="stars"></div>
        <div class="twinkling"></div>  
    </div>


    <nav>
        <div class="brand">
            <div class="logo">
                <a href="/home"><img src="assets/images/bootcamp_logo_wo_bg.png" alt=""></a>
            </div>
            <div class="brand-name">BOOTCAMP</div>
        </div>
        <ul class="menu">
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li>
                <a href="#">BATCHES
                    <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/batch">2022-2026</a></li>
                    <li><a href="/batch2027">2023-2027</a></li>
                    <li><a href="/batch2028">2024-2028</a></li>
                </ul>
            </li>
            <li><a href="#">SOCIETY</a></li>
            <% if (userjwt || usergoog) { %>
            <li><a href="#" class="profile-dropdown">
                <div onclick="toggle()" class="profile-dropdown-btn">
                  <div class="profile-img">
                  </div> 
        
                  <span>
                    <i class="fa-solid fa-angle-down"></i>
                  </span>
                </div>
            </a></li>
                <ul class="profile-dropdown-list">
                  <li class="profile-dropdown-list-item">
                    <a href="/form">
                      <i class="fa-regular fa-user"></i>
                      Edit Profile
                    </a>
                  </li>
         
                  <hr />
        
                  <li class="profile-dropdown-list-item">
                    <a href="/logout">
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                      Log out
                    </a>
                  </li>
                </ul>
                <% } else { %>
                    <li><a href="/">LOGIN</a></li>
                    <% } %>
        </ul>
        <div class="menu-btn"><i class="fa-solid fa-bars"></i></div>
    </nav>


        <header id="header">
            
            <div class="starss">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="title-container">
                <h1 class="title">IIIT Bhubaneswar Societies</h1>
                <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
            </div>
        </header>


    <article class="slider">
		<section class="slide">
			<img src="assets/images/cultpic.png" alt="" loading="lazy">
		</section>
        <section class="slide">
			<img src="assets/images/society_pic2.png" alt="" loading="lazy">
		</section>

		<section class="slide">
			<img src="assets/images/sportpic.png" alt="" loading="lazy">

			
		</section>

		<section class="slide">
			<img src="assets/images/society_pic1.png" alt="" loading="lazy">
		</section>
        <section class="slide">
			<img src="assets/images/society_pic3.png" alt="" loading="lazy">
		</section>
		<nav class="slider-nav">
			<span class="prev-slide"></span>
			<span class="next-slide"></span>
		</nav>
	</article>
	<!-- end Slider -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script>
		window.jQuery || document.write('<script src="js/lib/jquery-v3.4.1.js"><\/script>');
	</script>

    <div class="societies-container">

        <div class="card"  onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/techsociety.png" alt="Image 3" loading="lazy">
                    <h2>TECHNICAL</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/techsociiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p  class="society_desc">The Tech Society at IIIT Bhubaneswar is a hub for innovation and technology enthusiasts. We regularly organize workshops, seminars, and hackathons to enhance skills in areas such as AI, web development, and cybersecurity. Join us to collaborate on cutting-edge projects and stay ahead in the tech world!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" onclick="flipCard(this)" >
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/cult.jpeg" alt="Image 1" loading="lazy">
                    <h2>CULTURAL</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/cult_iiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p  class="society_desc">The Cultural Society at IIIT Bhubaneswar celebrates diversity and creativity through various art forms. From music and dance to drama and literature, we provide a platform for students to showcase their talents and explore different cultural experiences. Join us in promoting cultural exchange and unity!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/e-cell.png" alt="Image 2" loading="lazy">
                    <h2>Entrepreneurship Cell</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/iiitbh_ecell/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p  class="society_desc">The Entrepreneurship Cell at IIIT Bhubaneswar is dedicated to fostering an entrepreneurial mindset among students. Through workshops, mentorship programs, and networking events, we empower aspiring entrepreneurs to turn their ideas into successful ventures. Join us in shaping the future of innovation and business leadership!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/fats.png" alt="Image 3" loading="lazy">
                    <h2>FATS</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/parda.productions/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p  class="society_desc">The Film and Theatre Society at IIIT Bhubaneswar is a creative hub for students passionate about storytelling through cinema and stage. From scriptwriting and acting to directing and production, we provide a platform to explore the art of filmmaking and theatre. Join us to unleash your creativity and bring captivating stories to life!</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/naps.jpeg" alt="Image 3"  loading="lazy">
                    <h2>NAPS</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/naps_iiit/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">The News and Publication Society at IIIT Bhubaneswar is dedicated to keeping the student community informed and engaged. Through our publications and digital platforms, we cover campus news, events, and issues of interest. Join us to hone your writing skills, share your voice, and stay connected with campus happenings!</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/tars.jpeg" alt="Image 3"  loading="lazy">
                    <h2>TARS</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/tarsiiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">The Automation and Robotics Society (TARS) at IIIT Bhubaneswar is at the forefront of technological innovation. We explore the realms of automation and robotics, pushing boundaries to create cutting-edge solutions for real-world challenges. Join us to delve into the fascinating world of robotics, enhance your technical skills, and be part of groundbreaking projects that shape the future</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/paracosm.png" alt="Image 3"  loading="lazy">
                    <h2>PARACOSM</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/paracosm.iiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">Welcome to the Paracosm Society at IIIT Bhubaneswar, where imagination knows no bounds. As a community of dreamers, thinkers, and creators, we delve into the realm of paracosms – intricate worlds crafted from the depths of our minds. Through storytelling, art, and exploration, we bring these alternate realities to life, fostering creativity and wonder among our members.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/sports.png" alt="Image 3"  loading="lazy">
                    <h2>SPORTS</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/iiitbh_sports/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">Join the Sports Society at IIIT Bhubaneswar and embrace the thrill of athleticism and teamwork. Whether you're passionate about football, cricket, basketball, or any other sport, our society provides a platform for students to engage in friendly competition, stay active, and build lifelong friendships. From exhilarating matches to fitness challenges, we celebrate the joy of sportsmanship and camaraderie.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/photogeeks.png" alt="Image 3"  loading="lazy">
                    <h2>PHOTOGEEKS</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/photogeeks.iiit.bh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">Welcome to the Photogeeks Society at IIIT Bhubaneswar, where passion meets the lens. As a community of photography enthusiasts, we explore the art of capturing moments, emotions, and stories through our cameras. From landscapes to portraits, from still life to action shots, we strive to hone our skills, express our creativity, and share our unique perspectives with the world.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/megaheartz.jpg" alt="Image 3" loading="lazy">
                    <h2>MEGAHEARTZ</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/megaheartz_iiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">Welcome to the Megahertz Society at IIIT Bhubaneswar, where innovation resonates at the speed of light. As a community of tech enthusiasts, we delve into the exciting world of electronics, telecommunications, and signal processing. From circuit design to wireless communication, from microcontrollers to high-frequency systems, we explore the forefront of technology and strive to push the boundaries of what's possible.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/vedantsamiti.png" alt="Image 3"  loading="lazy">
                    <h2>VEDANTA SAMITI</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/vedantasamiti_iiitbh/" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc">Welcome to Vedanta Samiti at IIIT Bhubaneswar, where ancient wisdom meets modern exploration. As a society dedicated to the study and dissemination of Vedanta philosophy, we delve into the profound teachings of the Vedas, Upanishads, and other sacred texts. Through discussions, lectures, and spiritual practices, we seek to uncover the timeless truths and practical wisdom found in these ancient scriptures, guiding us on a path of self-discovery and inner transformation.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card"   onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-front">
                    <img src="assets/images/spic_macay.jpg" alt="Image 3"  loading="lazy">
                    <h2>SPIC MACAY</h2>
                </div>
                <div class="card-back">
                    <div>
                        <a href="https://www.instagram.com/spicmacayofficial" target="_blank" class="instagram-button">
                            <i class="fab fa-instagram"></i>
                            Follow on Instagram
                          </a>
                        <p class="society_desc" >TWelcome to SPIC MACAY at IIIT Bhubaneswar, where culture comes alive through the magic of the arts. As a society dedicated to promoting Indian classical music, dance, and culture, we strive to enrich the lives of students through immersive experiences and enriching interactions with renowned artists. From mesmerizing performances to enlightening workshops and interactive sessions, we aim to foster a deeper appreciation for our rich cultural heritage and traditions.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Made with <i class="fa-solid fa-heart"></i> by CE'26</p>
        </footer>
    </div>
  
    <script src="script/society.js"></script>

    
    </body>
</html>



<!--................Priyaranjan...........-->
