
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


@keyframes move-background {
      from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to { 
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
@-webkit-keyframes move-background {
      from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to { 
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    
@-moz-keyframes move-background {    
        from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to { 
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    
@-webkit-keyframes move-background {
      from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to { 
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    
.background-container{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  z-index: -1;
    }
    
.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}
    
.twinkling{
  width:10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
-moz-animation:move-background 70s linear infinite;
-ms-animation:move-background 70s linear infinite;
-o-animation:move-background 70s linear infinite;
-webkit-animation:move-background 70s linear infinite;
animation:move-background 70s linear infinite;
     
}

/* ---------- HEADER ---------- */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* ---------- NAVBAR ---------- */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  background: #19191B;
  padding: 0px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
  margin: 15px 15px 15px 0px;
}

nav .logo img {
  height: 50px;
}

nav .brand .brand-name {
color: #ffffff;
/* font-family: "Roboto", sans-serif; */
font-weight: 900;
font-size: 30px;
margin: 15px 15px 15px 0px;
}

nav ul {
  list-style: none;
}

nav ul li {
  position: relative;
  float: left;
  margin-top: 10px;
}

nav ul li a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 20px;
  display: block;
  transition: all ease 0.3s;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff1361;
}

nav ul li i {
  font-size: 12px;
  margin-left: 2px;
}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 144px;
  background: #19191B;
  display: none;
}

nav ul li ul li{
  width: 100%;
  border-top: 1px solid #141414;
}

/* nav ul li:focus-within>ul,
nav ul li:hover>ul {
  display: initial;
} */

nav ul li ul li a:hover {
  color: #ff1361;
}


.profile-dropdown {
  position: relative;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 5px;
;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 80px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #101010;
  box-shadow:  0px 2px 4px 0px rgb(212, 219, 212);
  cursor: pointer;
  border: 1px solid #ef85a8;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
  font-family: "Ubuntu", sans-serif;
  
}

.profile-dropdown-btn:hover {
  background-color: rgb(36, 36, 34);
  box-shadow:  0px 2px 8px 0px rgb(193, 224, 193);
}

.profile-img {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: url(../uploads/noimage.png);
  background-size: cover;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #19191B;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: max-height 0.5s;
  
}

.profile-dropdown-list hr {
  border: 0.5px solid #ff1361;
  width: 100%;
}

.profile-dropdown-list.active {
  margin-top: 20px;
  max-height: 500px;
}

.profile-dropdown-list-item {
  /* padding: 0.5rem 0rem 0.5rem 1rem; */
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color:#ffffff;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #ff1361;
  color: #fff;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 10px;
  background-color: #222222;
  width: 100%;
}  

.menu-btn {
  color: #ffffff;
  font-size: 25px;
  margin: 15px;
  cursor: pointer;
  display: none;
}


/* RESPONSIVE NAVBAR */

@media(max-width: 1150px) {
  .menu-btn {
      display: initial;
  }

  .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #19191B;
      border-top: 1px solid #141414;
      display: none;
  }

  .menu.active {
      display: initial;
  }

  nav ul li {
      width: 100%;
  }

  nav ul li a:hover {
      color: #ff1361;
  }

  nav ul li ul {
      position: relative;
      width: 100%;
  }

  nav ul li ul li {
      margin-left: 50px;
  }
  .profile-dropdown-list{
      position: static;
      width: 100%;
      }
}

@media(max-width: 400px) {
  nav .brand .brand-name {
      display: none;
  }
  .profile-dropdown-list{
      position: static;
      width: 100%;
  }
}

/* ABOUT US AND OUR TEAM  */

.about-us,
.team{
  z-index: 10;
}


.about-us{

  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 8rem auto;
  color: aliceblue ;
}
.lottier{

max-width: 400px; 
height: auto;
}
.first-para{
margin-top: 10rem;
}
.about-us p{
  /* margin-top: 2vw; */
  font-size: 1.7vw;
  margin-bottom: 4vw;
  font-family: "Alegreya sans", sans-serif;
  font-weight: 400;
  z-index: 10;
}

.about-us img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.team{
  text-align: center;
  color: aliceblue;
}
.team h2{
  font-size: 5vw;
  margin-bottom: 25px;
  position: relative;
  text-transform: uppercase;
  background-image: linear-gradient(
  -45deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
animation: animated_text 6s ease-in-out infinite;
-moz-animation: animated_text 6s ease-in-out infinite;
-webkit-animation: animated_text 6s ease-in-out infinite;
}
@keyframes animated_text {
0% { background-position: 0px 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0px 50%; }
}
.our-team{
  width: 100%;
  max-width: 1800px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-team .card{
  width: 90%;
  max-width: 300px;
  height: 450px;
  background: transparent;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 70px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team .card:hover{
  box-shadow: 0px 0px 20px 1px #9592927a;
}

.bg{
  width: 90%;
  transform: rotate(90deg);
  margin-left: 20px;
}

.one{
  width: 90%;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}

.our-team .card:hover .bg{
transform: rotate(120deg);
}

.our-team .card h3{
  margin-top: 15px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.our-team .card h4{
  margin-top: 5px;
  text-align: center;
  color: grey;
  font-weight: 500;
}

.icon{
  text-align: center;
  margin-top: 40px;
}

.icon i{
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(
      45deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
  color: #f7e0e0;
  border: #fff ;
  transform: translateY(40px);
  transition: 0.5s;  
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.icon i:hover{
  color: grey;
  border: 1px solid grey;
  background: transparent;
}

.our-team .card:hover .icon i{
  transform: translateY(0px);
  opacity: 1;
}


/* RESPONSIVE */
@media (max-width: 1200px) {
  .our-team {
      width: 100%;
      margin: 0 auto;
  }
}

@media (max-width: 768px) {

  .team h2 {
      font-size: 10vw;
  }

  .about-us p {
      font-size: 3vw;
  }

  .our-team .card {
      width: 100%;
      margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .team h2 {
      font-size: 12vw;
  }

  .about-us p {
      font-size: 4vw;
  }

  .about-us{

    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem auto;
    color: aliceblue ;
}

.lottier{

  max-width: 70%; 
  height: auto;
}
.first-para{
  margin-top: 5rem;
}

}

footer {
  width: 100%;
  background-color: #000000;
  padding: 20px;
  z-index: 1000;
}

footer p {
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

footer p i {
  color: red;
  margin: 2px;
}

/* ---------- RESPONSIVE FOOTER ---------- */
@media(max-width: 576px) {
  footer p {
      font-size: 15px;
  }
  
}

/* ---------- SCROLLBAR ---------- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 2.5px;
}