* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: baseline;
  color: inherit;
  outline: 0;
}

img,
svg,
audio,
video,
canvas,
iframe,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;

}

summary {
  display: list-item;
}

html {
  font-size: 100%;
}

body {
  overflow: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #555;
  background: radial-gradient(ellipse at center, #2a0909 0%, #000000 100%);
}

body,
html {
  height: 100%;
}



header {
  position: relative; 
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #ffffff;
  height: 100vh;
}
canvas { 
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, #29090d 0%, #000000 100%);
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; 
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}


.console-container {
 
  font-family:Khula;
  font-size:1.75em;
  text-align:center;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.slider {

  position: relative;
  width: 90%;
  height: 75%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1.2rem;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  opacity: 1;
}

.slider-nav {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  z-index: 10;
}

.prev-slide,
.next-slide {
  position: absolute;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125;
  margin: 0;
  border: 0.125rem solid white;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease-in-out 0s;
  -webkit-user-select: none;
  user-select: none;
}

.prev-slide {
  left: 2%;
}

.next-slide {
  right: 2%;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.prev-slide::before,
.next-slide::before {
  position: absolute;
  top: 33%;
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  content: "";
  border-left: 0.25rem solid white;
  border-top: 0.25rem solid white;
  backface-visibility: hidden;
}

.prev-slide::before {
  transform: rotate(-45deg);
  right: 25%;
}

.next-slide::before {
  transform: rotate(135deg);
  left: 25%;
}




.societies-container {
  width: 100%;
  margin: 50px auto;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8rem;
}

.card {
  margin: 0 auto;
  height: min(78vh, 100vw);
  width: min(60vh, 99vw);
  padding: 0;
  position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* .card:hover .card-inner{
    transform: rotateY(180deg);
} */

.card-front, .card-back {
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 4px solid #e9edef;
    box-shadow: 0 0 12px #dde0e1;
    background: linear-gradient(180deg, #020a44, #000000);
    backface-visibility: hidden;
}

.card-front {
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
}


.card-front img {
    width: 100%; 
    height: 75%;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.card-front h2 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 1.75rem;
    color: #e8e3e3;
    margin: auto;
    text-align: center;
}
.instagram-button {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
  font-family: Arial, sans-serif;
 
}

.instagram-button:hover {
  transform: scale(1.05);
}

.instagram-button:active {
  transform: scale(0.95);
}

.instagram-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.instagram-button .fa-instagram {
  margin-right: 8px; /* Space between icon and text */
}
.card-back { 
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.card.flipped {
  transform: rotateY(180deg); /* Flip the card when clicked */
}
.card.flipped .card-front {
  z-index: 1;
}

.card.flipped .card-back {
  z-index: 2;
}
.snap {
  transform: rotateY(180deg);
}

.blip {
  transform: rotateY(360deg);
}

.society_desc{
  text-align:justify;
  margin:0.75rem;
  padding:0.75rem;
  font-size: .75rem;
}



.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.74em;
  --top-offset: 69.55vh;
  --fall-duration: 7.452s;
  --fall-delay: 9.374s;
}
.star:nth-child(2) {
  --star-tail-length: 6.54em;
  --top-offset: 75.7vh;
  --fall-duration: 8.778s;
  --fall-delay: 4.589s;
}
.star:nth-child(3) {
  --star-tail-length: 5.82em;
  --top-offset: 29.57vh;
  --fall-duration: 9.639s;
  --fall-delay: 4.463s;
}
.star:nth-child(4) {
  --star-tail-length: 6.7em;
  --top-offset: 60.14vh;
  --fall-duration: 7.752s;
  --fall-delay: 1.742s;
}
.star:nth-child(5) {
  --star-tail-length: 6.13em;
  --top-offset: 19.67vh;
  --fall-duration: 9.528s;
  --fall-delay: 7.703s;
}
.star:nth-child(6) {
  --star-tail-length: 5.1em;
  --top-offset: 86.79vh;
  --fall-duration: 9.024s;
  --fall-delay: 7.616s;
}
.star:nth-child(7) {
  --star-tail-length: 5.66em;
  --top-offset: 41.32vh;
  --fall-duration: 11.56s;
  --fall-delay: 1.534s;
}
.star:nth-child(8) {
  --star-tail-length: 6.26em;
  --top-offset: 30.11vh;
  --fall-duration: 8.069s;
  --fall-delay: 6.993s;
}
.star:nth-child(9) {
  --star-tail-length: 7.29em;
  --top-offset: 80.34vh;
  --fall-duration: 7.453s;
  --fall-delay: 5.335s;
}
.star:nth-child(10) {
  --star-tail-length: 6.66em;
  --top-offset: 22.71vh;
  --fall-duration: 10.92s;
  --fall-delay: 7.134s;
}
.star:nth-child(11) {
  --star-tail-length: 7.09em;
  --top-offset: 22.99vh;
  --fall-duration: 10.184s;
  --fall-delay: 7.833s;
}
.star:nth-child(12) {
  --star-tail-length: 6.44em;
  --top-offset: 70.15vh;
  --fall-duration: 9.983s;
  --fall-delay: 9.869s;
}
.star:nth-child(13) {
  --star-tail-length: 6.78em;
  --top-offset: 91.57vh;
  --fall-duration: 10.119s;
  --fall-delay: 5.393s;
}
.star:nth-child(14) {
  --star-tail-length: 5.56em;
  --top-offset: 28.47vh;
  --fall-duration: 9.947s;
  --fall-delay: 0.555s;
}
.star:nth-child(15) {
  --star-tail-length: 5.2em;
  --top-offset: 38vh;
  --fall-duration: 10.873s;
  --fall-delay: 5.084s;
}
.star:nth-child(16) {
  --star-tail-length: 6.17em;
  --top-offset: 83.12vh;
  --fall-duration: 6.274s;
  --fall-delay: 6.495s;
}
.star:nth-child(17) {
  --star-tail-length: 5.19em;
  --top-offset: 4.93vh;
  --fall-duration: 11.82s;
  --fall-delay: 6.882s;
}
.star:nth-child(18) {
  --star-tail-length: 6.02em;
  --top-offset: 58.39vh;
  --fall-duration: 10.716s;
  --fall-delay: 8.942s;
}
.star:nth-child(19) {
  --star-tail-length: 5.59em;
  --top-offset: 80.21vh;
  --fall-duration: 10.659s;
  --fall-delay: 4.072s;
}
.star:nth-child(20) {
  --star-tail-length: 5.61em;
  --top-offset: 62.33vh;
  --fall-duration: 6.355s;
  --fall-delay: 9.96s;
}
.star:nth-child(21) {
  --star-tail-length: 6.98em;
  --top-offset: 37.38vh;
  --fall-duration: 11.367s;
  --fall-delay: 0.904s;
}
.star:nth-child(22) {
  --star-tail-length: 6.25em;
  --top-offset: 57.35vh;
  --fall-duration: 9.401s;
  --fall-delay: 1.062s;
}
.star:nth-child(23) {
  --star-tail-length: 5.97em;
  --top-offset: 10.99vh;
  --fall-duration: 10.163s;
  --fall-delay: 5.815s;
}
.star:nth-child(24) {
  --star-tail-length: 6.89em;
  --top-offset: 57.8vh;
  --fall-duration: 10.808s;
  --fall-delay: 3.864s;
}
.star:nth-child(25) {
  --star-tail-length: 6.89em;
  --top-offset: 74.81vh;
  --fall-duration: 6.268s;
  --fall-delay: 8.157s;
}
.star:nth-child(26) {
  --star-tail-length: 7.26em;
  --top-offset: 75.97vh;
  --fall-duration: 7.824s;
  --fall-delay: 0.528s;
}
.star:nth-child(27) {
  --star-tail-length: 7.47em;
  --top-offset: 61.11vh;
  --fall-duration: 11.276s;
  --fall-delay: 2.627s;
}
.star:nth-child(28) {
  --star-tail-length: 5.49em;
  --top-offset: 15.2vh;
  --fall-duration: 7.015s;
  --fall-delay: 7.481s;
}
.star:nth-child(29) {
  --star-tail-length: 5.33em;
  --top-offset: 43.45vh;
  --fall-duration: 8.707s;
  --fall-delay: 3.478s;
}
.star:nth-child(30) {
  --star-tail-length: 6.53em;
  --top-offset: 0.95vh;
  --fall-duration: 11.106s;
  --fall-delay: 2.637s;
}
.star:nth-child(31) {
  --star-tail-length: 6.06em;
  --top-offset: 12.19vh;
  --fall-duration: 8.685s;
  --fall-delay: 8.803s;
}
.star:nth-child(32) {
  --star-tail-length: 6.78em;
  --top-offset: 96.67vh;
  --fall-duration: 10.126s;
  --fall-delay: 8.713s;
}
.star:nth-child(33) {
  --star-tail-length: 6.73em;
  --top-offset: 10.53vh;
  --fall-duration: 11.594s;
  --fall-delay: 3.147s;
}
.star:nth-child(34) {
  --star-tail-length: 7.04em;
  --top-offset: 42.17vh;
  --fall-duration: 9.791s;
  --fall-delay: 4.204s;
}
.star:nth-child(35) {
  --star-tail-length: 5.75em;
  --top-offset: 80.25vh;
  --fall-duration: 8.92s;
  --fall-delay: 4.55s;
}
.star:nth-child(36) {
  --star-tail-length: 5.36em;
  --top-offset: 47.57vh;
  --fall-duration: 10.614s;
  --fall-delay: 2.421s;
}
.star:nth-child(37) {
  --star-tail-length: 6.62em;
  --top-offset: 45.32vh;
  --fall-duration: 8.679s;
  --fall-delay: 5.982s;
}
.star:nth-child(38) {
  --star-tail-length: 5.55em;
  --top-offset: 32.2vh;
  --fall-duration: 8.419s;
  --fall-delay: 3.865s;
}
.star:nth-child(39) {
  --star-tail-length: 5.28em;
  --top-offset: 95.19vh;
  --fall-duration: 11.962s;
  --fall-delay: 7.604s;
}
.star:nth-child(40) {
  --star-tail-length: 6.87em;
  --top-offset: 68.76vh;
  --fall-duration: 6.139s;
  --fall-delay: 2.166s;
}
.star:nth-child(41) {
  --star-tail-length: 5.68em;
  --top-offset: 18.1vh;
  --fall-duration: 11.46s;
  --fall-delay: 6.825s;
}
.star:nth-child(42) {
  --star-tail-length: 5.04em;
  --top-offset: 33.43vh;
  --fall-duration: 7.148s;
  --fall-delay: 0.051s;
}
.star:nth-child(43) {
  --star-tail-length: 6.46em;
  --top-offset: 17.76vh;
  --fall-duration: 9.074s;
  --fall-delay: 6.587s;
}
.star:nth-child(44) {
  --star-tail-length: 6.82em;
  --top-offset: 18.8vh;
  --fall-duration: 6.479s;
  --fall-delay: 8.043s;
}
.star:nth-child(45) {
  --star-tail-length: 7.09em;
  --top-offset: 54.06vh;
  --fall-duration: 8.593s;
  --fall-delay: 2.389s;
}
.star:nth-child(46) {
  --star-tail-length: 5.73em;
  --top-offset: 85.86vh;
  --fall-duration: 9.448s;
  --fall-delay: 0.772s;
}
.star:nth-child(47) {
  --star-tail-length: 5.76em;
  --top-offset: 28.77vh;
  --fall-duration: 8.144s;
  --fall-delay: 0.335s;
}
.star:nth-child(48) {
  --star-tail-length: 6.1em;
  --top-offset: 47.68vh;
  --fall-duration: 8.608s;
  --fall-delay: 9.343s;
}
.star:nth-child(49) {
  --star-tail-length: 6.57em;
  --top-offset: 5.33vh;
  --fall-duration: 10.199s;
  --fall-delay: 2.376s;
}
.star:nth-child(50) {
  --star-tail-length: 6.23em;
  --top-offset: 60.31vh;
  --fall-duration: 10.303s;
  --fall-delay: 3.7s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}


.card{
  height: 425px;
  width: 310px;
}



@media screen and (max-width: 980px) {
  .slider {
      max-height: 57.95918367vw;
  }

  /* .societies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: auto;
} */

}

@media screen and (min-height: 980px) {
  .slider {
      max-height: 57.95918367vw;
  }
}



@media screen and (max-width: 650px) {

  .prev-slide,
  .next-slide {
      display: none;
  }

  /* .societies-container {
   grid-template-columns: repeat(2, 1fr);
} */
  
}

@media screen and (max-width: 480px) {

  .prev-slide,
  .next-slide {
      display: none;
  }

.heading {
  font-size: 3rem;
  
}
.console-container{
  font-size: 1.0rem;
}

.card{
  height: 400px;
  width: 300px;
}

  
}


/* Essentials <https://github.com/jacobxperez/essentials>
 * Copyright (C) 2022 Jacob Perez <jacobxperez@gmx.com>
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
==============================================================================*/


.console-container {
 
  font-family:Khula;
  font-size:2em;
  text-align:center;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
